extends layout

block content
  div.container
    a(href="/") Back to home

    h1.text-center Log in

    form(action="/admin", method="post")
      label(for="username") Username
      input.form-control(type='text', name="username", id="username", autofocus)
      label(for="password") Password
      input.form-control(type='password', name='password', id="password")
      button.btn.btn-primary(type='submit') Log in

  script(src="/socket.io/socket.io.js")