zhtml
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
      div.background
       div.containerHome
        img(src="/images/timderlogo.png", alt="")


        div.form-group
         label(for="companyName") Your company name
         input.form-control(type="text", name="companyName", id="companyName", placeholder="Thomas More")
         a.btn.btn-primary(id="startSwiping", href="/swiping") Start swiping!

         p Are you a student?
         a.btn.btn-default(id="login",href="/login") Log in here!

      script(src="/javascripts/index.js")