extends layout

block content
  div.container
    a(href="/") Back to home

    h1.text-center Log in

    form(action="", method="post")
      label(for="email") Email
      input.form-control(type='text', name='email', id="email", autofocus)
      label(for="password")
      input.form-control(type='password', name='password', id="password")
      button.btn.btn-primary(type='submit') Log in

    p Need an acount?
    a.btn.btn-default(href='/signup') Sign up here
