extends layout

block content
  div.container
    a(href="/") Back to home

    h1.text-center Sign up

    form(action="", method="post")
      label(for="firstName") First name
      input.form-control(type="text", name="firstName", id="firstName", autofocus)
      label(for="lastName") Last name
      input.form-control(type="text", name="lastName", id="lastName")
      label(for="email") Email
      input.form-control(type="text", name="email", id="email")
      label(for="password") Password
      input.form-control(type="password", name="password", id="password")
      button.btn.btn-primary(type="submit") Sign up

    p Already have an account?
    a.btn.btn-default(href="/login") Log in here

