html
 head
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel='stylesheet', href='/stylesheets/swipe.css')

  body   
   h1.text-center {company.companyName}, like or dislike!
   p.text-center To skip: swipe left. To like: swipe right. 
   p.text-center You can like only three students. 

   div(id="info")
     h1.text-center {user.Name}
     img.img-responsive(id="profilePic",src="/images/ik.jpg")
     h2 Design or developement    
     ul(id="skills")    
        li
            img(id="skill1" src="/images/dev/js5logo.png") 
        li    
            img(id="skill2" src="/images/dev/js5logo.png")
        li        
            img(id="skill3" src="/images/dev/js5logo.png")   
