$primarycolor: green;

#info
{
	display: block;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#skills
{
	list-style-type: none;
}

#skills img{

	display:block;
	width: 140px;
	margin-right:10px;
	float:left;
}

#profilePic
{
	display:block;
	width:500px;
}